{% extends "auctions/layout.html" %}
{% block title %}{{item.title}}{% endblock %}
{% block body %}
	<style type="text/css">
		div, a{
			padding-left: 2%;
		}
		body{
			font-family: arial, sans-sarif;
			background-color: #f5f7fa;
		}
		.container{ 
			 padding-top: 10px;
		}
		.link{
			font-size: 20px;
		}
	</style>
	<h2 style="text-align: center;">{{item.title}}</h2>
	<div style="height: 1px; background-color: lightgray;"></div>
	<div style="height: 10px;"></div>
	{% if close_msg %}
		<a class="link" href="{% url 'closedBid' item.id %}">{{close_msg}}</a>
	{% elif remove_list %}
		<a class="link" href="{% url 'watchList' item.id %}">{{remove_list}}</a>
	{% elif not message %}
		<a class="link" href="{% url 'watchList' item.id %}">Add to WatchList</a>
	{% else %}
	{% endif %}
	{% if message %}
		<div class="alert alert-info" role="alert" style="text-align: center;">
			{{ message }}
		</div>
	{% endif %}
    <div class="container">
    	<div class="row">
			<div class="col-md-5">
	            <img src="{{ media_url }}{{ item.picture_item }}" alt="No image found" style="height: 200px;">
	        </div>
	        <div class="col-md-3">
	            <h5>Category:<a href="{% url 'categories' item.category %}">{{item.category}}</a></h5>
	    		<h5 style="padding-top: 5%"> Bid price : <strong>{{item.bidPrice}}</strong>$</h5>
	    		{% if item.item_creator.username == request.user.username %}
	    			<h5 style="padding-top: 5%"> Listed By : <strong>You</strong></h5>
	    		{% else %}
	    			<h5 style="padding-top: 5%"> Listed By : <strong>{{item.item_creator.username}}</strong></h5>
	    		{% endif %}
	        </div>
	        <div class="col-md-3" style="font-family: arial, sans-sarif; font-size: 16px;">
	        	<h5> <strong>Description: </strong></h5>
	    	    {{item.description}}</br>
	        </div>
	    </div>
	</div>
    <div style="height: 10px;"></div>
	</br>
	<div style="margin-left: 10%; padding-left: 30%;">
		<form action="{% url 'list_bid' item.id %}" method="post">
			{% csrf_token %}
			<input type="number" name="bid" value="{{item.bidPrice}}" style="text-align: center; border-radius: 10px; height: 35px; border-color: lightgray;">
			<input type="submit" class="btn btn-primary" name="submitBid" value="Place Bid">			
		</form>
	</div></br>
	<div>
		<h5>Comments:</h5>
	</div>
	<div>
		<ul>
		{% for comment in comments %}
			<div style="background-color:#ebebeb; min-height: 35px; font-size: 20px; border-radius: 5px;">
				{{comment}}
			</div></br>	
		{% endfor %}
		</ul>
	</div>
	<div>
		<form action="{% url 'list_comment' item.id %}" method="post">
			{% csrf_token %}	
			<input type="text" name="userComment" style="width: 50%; border-radius: 10px; height: 40px; border-color: lightgray; font-size: 16px; text-align: center; text-shadow: all;">
			<input type="submit" class="btn btn-primary" name="submitComment" value="Add Comment">	
		</form>
	</div>
{% endblock %}